html {
  font-size: 62.5%;
}

:root {
  --color-primary: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

body {
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
}

h2 {
  font-size: 2.1rem;
}

h2,
h3 {
  font-weight: 700;
}

.main-container {
  max-width: 550px;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  background: var(--color-primary);
  color: #fff;
  height: 65px;
  padding: 0 2rem;
}

.logo {
  width: 31.31px;
  margin-right: 0.5rem;
}

.header-title {
  margin-right: auto;
}

.header-project {
  font-weight: 500;
  margin-right: 1.7rem;
}

/* Meme */

main {
  padding: 3.6rem;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 1.7rem;
}

.input {
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  text-indent: 5px;
  font-family: "Karla", sans-serif;
}

.button {
  background: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 700;
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

.memeImage {
  max-width: 100%;
  border-radius: 5px;
  margin-top: 1rem;
}

/* Test */

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > img {
  width: 100%;
  border: 10px;
  transition: filter 0.1s ease-in-out;
}

.container > img:hover {
  filter: brightness(50%);
}

.container > button {
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
  border: 2px solid lightgray;
  background-color: white;
  cursor: pointer;
  margin-top: 20px;
  font-family: "Karla", sans-serif;
  font-size: 1.3rem;
} */

/* .state {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #262626;
  color: #d9d9d9;
}

.state--title {
  text-align: center;
}

.state--value {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
} */

/* .counter {
  display: flex;
  align-items: flex-end;
  background-color: #262626;
  padding: 20rem;
}

.counter > button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #737373;
  color: #d9d9d9;
  font-size: 1.5rem;
}

.counter > button:hover {
  background-color: #404040;
  color: #d9d9d9;
}

.counter > button:focus {
  outline: none;
}

.counter--count {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
}

.counter--plus {
  margin-left: -20px;
}

.counter--minus {
  margin-right: -20px;
  z-index: 1;
} */

/* main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 350px;
  box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
}

.card--image {
  width: 100%;
  padding: 10%;
  padding-bottom: 0;
}

.card--name {
  margin-block: 13px;
  color: #333333;
}

.card--info {
  padding: 10px;
}

.card--favorite {
  width: 25px;
  cursor: pointer;
}

.card--contact {
  font-size: 0.75rem;
  color: gray;
  margin-block: 7px;
} */

/* .box {
  border: solid 1px #000;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 5px;
  display: inline-block;
} */

/* input[type="text"],
input[type="email"] {
  margin-bottom: 15px;
  height: 30px;
  text-indent: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
}

input[type="checkbox"] {
  margin-right: 0.75rem;
}

textarea {
  margin-bottom: 15px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
} */
/* 
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #639;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.form-container {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
}

.form--input {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-family: "Inter", sans-serif;
}

.form--submit {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #639;
  border: none;
  cursor: pointer;
}

.form--marketing {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.form--marketing > input {
  margin-right: 10px;
} */

.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

/* Test */

/* * {
  box-sizing: border-box;
}

body {
  background-color: #ff7c43;
  color: white;
  margin: 0;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
}

h1 {
  text-align: center;
} */
